@import "partials/base";

.container {
	color: $default-black;

	.pie-charts-div {
		border: solid 1px;
		border-radius: 15px;
		padding: 10px;

		#gender-pie-chart {
			height: 400px;
		}

		ul {
			list-style-type: none;
		}

		li {
			font-weight: bold;
			font-size: 25px;
		}

		#pie-charts-title {
			text-align: center;
		}

		.legend-title {
			text-align: center;
		}

	}


	.ages {
		font-weight: bold;

		h3 {
			text-align: center;
		}

		.age-div-fact {
			border: solid 1px;
			text-align: center;
			border-radius: 5px;
			padding: 80px;
		}

		.ages-num {
			font-size: 80px;
		}

		#average-div {
			background-color: $fire-red;
		}

		#median-div {
			background-color: $blue-jeans;
		}

		#mode-div {
			background-color: $egg-yellow;
		}
	}



}
