.container-fluid {

	.pie-charts-div {
		border: solid 1px;
		border-radius: 15px;
		padding: 10px;

		ul {
			list-style-type: none;
		}

		li {
			font-weight: bold;
			font-size: 25px;
		}

		#pie-charts-title {
			text-align: center;
		}

		.legend-title {
			text-align: center;
		}
	}

 	.bar {
		fill: steelblue;
	}

}
